.todoList {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
	background: #fff;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
		padding: 0 15px;
	}

	&__caption {
		margin: 0;
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 25px;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 17px;
			height: 17px;
			background: center / cover no-repeat
				url("../assets/icons/add-todo-icon.png");
			content: "";
		}
	}
}

.list {
	margin: 15px 0;
	padding: 0;
	list-style-type: none;

	&__item {
		padding: 10px 15px;

		&:nth-child(2n + 1) {
			background: #0606060a;
		}
	}
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.done {
		.todo__btn,
		.todo__title {
			opacity: 0.5;
		}

		.todo__title {
			&::before {
				visibility: visible;
			}
		}
	}

	&__chx {
		transform: scale(1.3);
	}

	&__title {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 100%;
			height: 2px;
			background: #707070;
			visibility: hidden;

			content: "";
		}
	}
}

.box {
	display: flex;
	align-items: center;

	&__item {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}
